dialog {
    padding: 16px;
}

.hr {
    height: 1px;
    border-bottom: 1px solid #ccc;
}


.head-1 {
    font-weight: bold;
    font-size: 24px;
}

.text-link {
    color: blue;
    cursor: pointer;
}

.margin-bottom {
    margin-bottom: 10px;
}

